---

---

<div
    class="text-white w-full h-full bg-black/60 flex flex-col justify-center rounded-xl p-4 shadow-[rgba(56,130,190)_5px_5px_2px_2px]"
>
    <h1 class="p-2 text-2xl lg:text-5xl">Datos de contacto</h1>

    <div class="flex flex-col gap-1 p-2 text-sm lg:text-2xl">
        <p>Teléfono: <span class="font-light">+34 603518488</span></p>
        <p>Correo: <span class="font-light">nikitta814@gmail.com</span></p>
    </div>
</div>
