---
import contactus from "../img/contactus.png";
---

<div
    class="text-white w-full h-full bg-black/60 flex flex-row justify-center items-center rounded-xl p-4 shadow-[rgba(56,130,190)_5px_5px_2px_2px]"
    style={`background-image: url(${contactus.src}); background-size: cover; background-position: center;`}
>
    <h1 class="p-2 font-bold text-center rounded-lg bg-black/50 lg:text-4xl">
        ContactUs 
    </h1>
</div>
