---
import { Image } from "astro:assets";
import miCara from "../img/cara.png";
---

<div
	class="text-white w-full h-full bg-black/60 flex flex-row justify-between items-center rounded-xl p-4 shadow-[rgba(56,130,190)_5px_5px_2px_2px]"
>
	<!-- Contenedor del texto -->
	<div class="flex-1 min-w-0">
		<h1 class="text-lg sm:text-xl md:text-2xl">Hola, soy Nikita</h1>
		<p class="text-sm sm:text-base">Soy desarrollador de páginas web</p>
	</div>

	<!-- Contenedor de la imagen -->
	<div class="flex-shrink-0">
		<Image src={miCara} alt="Mi cara" class="h-24 w-auto max-w-[120px] object-contain rounded-lg" />
	</div>
</div>



