---
import { Image } from "astro:assets";
import miCara from "../img/cara.png";
---

<div
	class="text-white w-full h-full bg-black/60 flex flex-row justify-between items-center rounded-xl p-4 shadow-[rgba(56,130,190)_5px_5px_2px_2px]"
>
	<div class="flex-1 min-w-0">
		<h1 class="text-lg lg:text-6xl">Hola, soy Nikita</h1>
		<p class="text-sm lg:p-2 lg:text-2xl ">Desarrollador de aplicaciones web</p>
	</div>

	<div class="flex-shrink-0">
		<Image src={miCara} alt="Mi cara" class="object-contain w-auto h-24 rounded-lg lg:h-48" />
	</div>
</div>



