---

---

<div
    class="text-white w-full h-full bg-black/60 flex justify-between items-center lg:items-start rounded-xl p-2 shadow-[rgba(56,130,190)_5px_5px_2px_2px]"
>
    <div>
        <h1 class="text-2xl text-center lg:text-5xl lg:pt-5">Sobre Mi</h1>
        <br />
        <p class="text-[12px] text-center lg:text-[24px] lg:pt-5 lg:px-14">
            Me llamo Nikita Vidrascu, tengo 19 años y soy desarrollador de
            aplicaciones web, estudie en el centro EFA El Campico, en concreto
            los cursos de GM SIstemas Microinformaticos y Redes Locales y el GS
            Desarrollo de Aplicaciones Web, un gusto
        </p>
    </div>
</div>
